body {
    max-height: 100vh;
    max-width: 100vw;
}

.indexgrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.indeximgcontainer {
    height: 700px;
}

.indeximg {
    height: inherit;
}

.about {
    display: grid;
    grid-template-rows: auto auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutimg {
    height: 670px;
}